[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "build/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = build/no-OS-FatFS-SD-SPI-RPi-Pico
	url = git@github.com:carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = no-OS-FatFS-SD-SPI-RPi-Pico
	url = git@github.com:carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = git@github.com:carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
